@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    @apply flex flex-wrap -mx-4
}
.custom-banner{
    background-image: url('../src/assets/image/home-one-images/banner.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-bg-1{
    background-image: url('../src/assets/image/home-one-images/cloth.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-bg-2{
    background-image: url('../src/assets/image/home-five-image/bg1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-bg-3{
    background-image: url('../src/assets/image/error/error-banner.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-font{
    font-family: 'Oswald', sans-serif;
}
.custom-font-2{
    font-family: 'Open Sans', sans-serif;
}


.product-banner{
    background-image: url('../src/assets/image/product-img/product-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.active {
    border-bottom: 2px solid #52BBDC;
}


.slide-info{
    animation: fadeEffect 1.3s;
}

@keyframes fadeEffect {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.hidden-text{
    display: none;
}

/* ====================================FAQ STYLE START================================= */
.bg-faq{
    background-image: url('../src/assets/image/Faq-images/Hadder\ Banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.accrodion .contentBx .label::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: .5s;
    font-size: 1.5em;
}
.accrodion .contentBx.active .label::before{
    content: '-';
}
.accrodion .contentBx .content{
    position: relative;
    background: white;
    height: 0;
    overflow: hidden;
    transition: .8s;
    overflow-y: auto;
}
.accrodion .contentBx.active .content{
    height: 60px;
    transform: .5s;
}
/* =====================================FAQ STYLE END================================= */
